/* CSS responsive menu created by Andor Nagy (http://codepen.io/andornagy/)*/
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -200 !important;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 1;
    z-index: -200;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #222222;
    background: #fffce3;
}
header{
    background: #fffce3;
    width: 100%;
    padding: 10px 0;
    color: #222222;
    text-align: center;
    margin-bottom: -0.5em;
    text-decoration: none;
}
.headerNone{
    text-decoration: none;
}
footer {
    width: 100%;
    background: #fffce3; 
    color: #cccccc;
    clear: both;
    position: relative;
    z-index: 10;
    height: 4em;
    margin-top: -4em;
    text-align: center;
    padding: 10px 0;
}
#content { padding-bottom: 6em; }
img{
    max-width: 100%;
}
nav {
    text-align: centre;
    margin: 0;
    padding: 0;
    background-color: #fffce3;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid #bcecfe;
}
#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}
nav:after {
    content: "";
    display: table;
    clear: both;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #fffce3;
}
nav a {
    display: block;
    padding: 0 20px;
    color: #222222;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}
nav ul li ul li:hover { background: #c4d1e3; }
nav a:hover { 
    background-color: #c4d1e3;
    color: #c3eedf; 
   text-decoration: none;    
}
nav ul ul {
     
   
    display: none;
    position: absolute;
    top: 60px;
}
nav ul li:hover > ul { 
    display: inherit; 
}
nav ul ul li {
     background-color: #c4d1e3;
     
    color: #c3eedf;
    width: 330px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li { background-color: #c4d1e3;
    position: relative;
    top: -60px;
    left: 330px;
}
li > a:after { content: ''; }
.toggle, [id^=drop] {
    display: none;
}
li > a:only-child:after { content: ''; }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}

.button1 {
    background-color: #00795f; 
    color: #cccccc; 
    border: 2px solid #00795f;
}

.button1:hover {
    background-color: white;
    color: black;
}


.hamburger-menu
{
    top: 17px;
    width:30px;
    height:5px;
    background-color:#cfd1e3;
    border-radius:5px;
    position:relative;
    float: right;
}
.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:#cfd1e3;
    position:absolute;
    border-radius:5px;
}
.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before
{
    top:20px;
}





section{
    font-family: inherit;
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}
#formSection{
    width: 20%;
}
h1{
    font-family:inherit
}
h3{
    margin-bottom: -0.9em;
}

p{
    font-family: sans-serif;
    line-height: 1.5em;
    font-size: 1.1em; 
}
.imageMap{
    text-align: center;
}
#bigLogo{
    text-align: center;
}
#pici{
    align: right;
    padding: 20px;
}
#flashBox{
    text-align: center;
}
#copy{
    width: 828px;  
    font-size: 10px;  
    line-height: 10px;  
    color: #f1f1f1;
    text-align: right;
    margin:0;
    padding:0;
}
#popSign{
    color: #000000;
    text-decoration: none;
}
@media all and (max-width : 768px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav { margin: 0; }
    .toggle + a,
    .menu { display: none; }
    .toggle {
        display: block;
        background-color: #fffce3;
        padding: 0 20px;
        color: #c4d1e3;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover { 
        background-color: #cfd1e3; 
        color: #bcecfe; 
    }
    [id^=drop]:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul ul .toggle,
    nav ul ul a { padding: 0 40px; 
        color: black; }
    nav ul ul ul a { padding: 0 80px; }
    nav a:hover,
    nav ul ul ul a .toggle:hover{ background-color: #cfd1e3; }
    nav ul li ul li .toggle,
    nav ul ul a { background-color: #c3eedf; }
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }
    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul li { position: static;}
}
@media all and (max-width : 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
}

input.nameI{
    font-size: 24px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height: 80px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
    text-align: center;
}