/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Feb-2017, 06:53:18
    Author     : donaldFletcher
*/

.rateButE {
    font-size: 24px;
    border: none;
    display: inline-block;
    height: 80px;
    outline:#f1f1f1;
    cursor: pointer; 
    margin-bottom: -0.9em;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    /*border-radius: 50px;*/
}
.rateButE#p1 {
    background-color: #ff0000;
}
.rateButE#p2 {
    background-color: #0000ff;
}.rateButE#except {
    background-color: #00ff00;
}
.rateButE:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.rateButE#p1:hover {
    border: 1px solid #f1f1f1;
    background-color: #000000;
    color: #f1f1f1;
}
.rateButE#p2:hover {
    border: 1px solid #f1f1f1;
    background-color: #000000;
    color: #f1f1f1;
}
.rateButE#except:hover {
    border: 1px solid #f1f1f1;
    background-color: #000000;
    color: #f1f1f1;
}
.rateButEOff{
    background-color: transparent;
    color: #000000;
}
.rateButEOn{
    background-color: #00ff00;
    color: #000000;
}
.iMap{
    text-align: center;
}
@media all and (max-width : 768px) {
    .rateButE {
    font-size: 12px;
    height: 40px;
    }
}